<!-- <div class="tabbar">
  <label class="tabbar__item" [routerLink]="['/']">
    <button class="tabbar__button">
      <i class="tabbar__icon ion-stop"></i>
      <div class="tabbar__label">Home</div>
    </button>
  </label>

  <label class="tabbar__item" [routerLink]="['/home']">
    <button class="tabbar__button">
      <i class="tabbar__icon ion-record"></i>
      <div class="tabbar__label">Two</div>
    </button>
  </label>

  <label class="tabbar__item">
    <button class="tabbar__button">
      <i class="tabbar__icon ion-star"></i>
      <div class="tabbar__label">Three</div>
    </button>
  </label>
</div> -->





<ons-tabbar swipeable>
  <div class="tabbar__content"></div>
  <div class="tabbar">
    <ons-tab label="Page1" icon="ion-home" [page]="tab1" active></ons-tab>
    <ons-tab label="Page2" icon="ion-ios-browsers" [page]="tab2"></ons-tab>
    <ons-tab label="Page3" icon="ion-ios-search"></ons-tab>
  </div>
</ons-tabbar>