<ng-container *ngIf="sharedState$ | async as sharedState">
  <ons-toolbar>
    <div class="left">
      <ons-ripple></ons-ripple>
      <i class="material-icons" style="margin-top: 15px; margin-left: 20px; font-size: 25px">
        bar_chart
      </i>
      <ons-icon icon="ion-airplane" size="1x"></ons-icon>
    </div>
    <div class="center text_center">
      {{ sharedState.name }}
    </div>
    <div class="right" (click)="onGoTo(sharedState.currentTab)">
      <ons-ripple></ons-ripple>
      <i class="material-icons" style="margin-top: 15px; margin-right: 20px; font-size: 25px">
        add
      </i>
    </div>
  </ons-toolbar>
  <div class="background"></div>
  <div class="content">
    <app-tab-bar-main></app-tab-bar-main>
  </div>
</ng-container>
<script src="assets/js/demo7.js" async></script>