<div class="layaout-content">
  <ons-toolbar *ngIf="sharedState$ | async as sharedState">
    <div class="left">
      <ons-ripple></ons-ripple>
      <i class="material-icons" style="margin-top: 15px; margin-left: 20px; font-size: 30px">
        bar_chart
      </i>
      <ons-icon icon="ion-airplane" size="1x"></ons-icon>
    </div>
    <div class="center text_center">
      {{ sharedState.name }}
    </div>
    <div class="right">
      <ons-ripple></ons-ripple>
      <i class="material-icons" style="margin-top: 15px; margin-right: 20px; font-size: 30px">
        add
      </i>
    </div>
  </ons-toolbar>
  <div class="background"></div>
  <div class="content">
    <app-tab-bar-main></app-tab-bar-main>
  </div>
</div>