<ons-toolbar>
  <div class="center"></div>
</ons-toolbar>
<div class="background"></div>
<div class="content responsive_content">
  <div>
    <h1 class="text_center">Bodega </h1>
    <p class="text_center"> Encuentra tus articulos fácilmente</p>
  </div>
  <ons-search-input style="width: 100%" placeholder="Nombre articulo, etiqueta, cantidad, trabajador"></ons-search-input>


  <ons-list>
    <ons-list-item modifier="chevron">
      <div class="left">
        <img class="list-item__thumbnail" style="width: 90px; height: 100px;" src="https://www.movilzona.es/app/uploads/2018/02/Samsung-Galaxy-S9-frontal.png">
      </div>
      <div class="center">
        <span class="list-item__title">Samsung S9</span>
        <br>
        <span class="list-item__subtitle">Cantidad: 2</span>

      </div>
    </ons-list-item>
  </ons-list>
</div>