@import "~variables.scss";

@media (max-width: 750px) {
  .outer {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    margin: 0 auto;
   }

}

@media (min-width: 751px) {
  .outer {
    position: relative;
    width: 50%;
    padding-bottom: 50%;
    margin: 0 auto;
   }
}

 
 .canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background:lightgray;
 }
 .segment{
   width: 100%;
 }

