<ons-toolbar>
  <div class="center">Tracking </div>
</ons-toolbar>
<div class="background"></div>
<div class="content">
  <iframe src="https://www.servientrega.com/wps/portal/Colombia/transacciones-personas/rastreo-envios" width="100%" height="90%"></iframe>

  <ons-card>
    <ons-ripple></ons-ripple>
    <ons-card (click)="tracking()">
      <div class="title text_center">Servientrega</div>
      <img src="https://www.servientrega.com/StaticContent/images/logo3.png" style="width: 150px; display: block; margin: 0 auto">
    </ons-card>
  </ons-card>
</div>