<ons-toolbar>
  <div class="center"></div>
</ons-toolbar>
<div class="background"></div>
<div class="content responsive_content">
  <section>
    <p>The page gets pushed to the side and the overlay slides in.</p>
    <p>
      <button type="button" id="trigger-overlay">Open Overlay</button>
    </p>
  </section>
  <div>
    <p class="text_center"> Encuentra tus articulos fácilmente</p>
  </div>
  <ons-search-input style="width: 100%" placeholder="Nombre articulo, etiqueta, cantidad, trabajador"></ons-search-input>


  <ons-list>
    <ons-list-item modifier="chevron" (click)="onGoToItemDetails()">
      <div class="left">
        <img class="list-item__thumbnail" style="width: 30px; height: 40px;" src="https://www.movilzona.es/app/uploads/2018/02/Samsung-Galaxy-S9-frontal.png">
      </div>
      <div class="center">
        <span class="list-item__title">Samsung S9</span>
        <br>
        <span class="list-item__subtitle">Cantidad: 2</span>
        <br>
      </div>
    </ons-list-item>
    <ons-list-item modifier="chevron">
      <div class="left">
        <img class="list-item__thumbnail" style="width: 30px; height: 40px;" src="https://www.movilzona.es/app/uploads/2018/02/Samsung-Galaxy-S9-frontal.png">
      </div>
      <div class="center">
        <span class="list-item__title">Samsung S9</span>
        <br>
        <span class="list-item__subtitle">Cantidad: 2</span>
        <br>

      </div>
    </ons-list-item>
  </ons-list>
</div>