
@media (max-width: 400px) {
  .logo_wrapper{
    margin-top: 10%;
    .logo_warehouse{
      width: 50%;
      height: 20%;
    }
    margin-bottom: 5%;
  }
    ons-card{
      max-width: 90% !important;
      p {
        font-family: '1';
        font-size: 20px;
      }
    }
}

@media (min-width: 401px) {
  .logo_wrapper{
    margin-top: 10%;
    .logo_warehouse{
      width: 40%;
      height: 30%;
      max-width: 190px;
      max-height: 190px;
    }
    margin-bottom: 2%;
  }
    ons-card{
      max-width: 70% !important;
      p {
        font-family: '1';
        font-size: 20px;
      }
    }
}
 
  // .page__background{
  //   background-color: #000 !important;
  // }
