<div>
  <ons-toolbar>
    <div class="left" style="width: 70px;">
      <ons-ripple></ons-ripple>
      <i class="material-icons" style="margin-top: 15px; margin-left: 20px; font-size: 25px">
        arrow_back_ios
      </i>
      <ons-icon icon="ion-airplane" size="1x"></ons-icon>
    </div>
    <div class="center text_center">
      Crear Articulo
    </div>
    <div class="right" style="width: 70px;">
      <ons-ripple></ons-ripple>
      <i class="material-icons" style="margin-top: 15px; margin-right: 20px; font-size: 25px">
        add
      </i>
    </div>
  </ons-toolbar>
  <div class="background"></div>
  <div class="content">
    <br>
    <p> &nbsp; </p>
    <div class="login">
      <ons-card class="center">
        <app-warehouse-form></app-warehouse-form>
      </ons-card>
    </div>
  </div>
</div>